extends layout

block content
    .pure-menu.pure-menu-horizontal
        a.pure-menu-heading(href="")
            img.logo(src="/images/log.png")
        ul.pure-menu-list
            li.pure-menu-item
                a.pure-menu-link(href="/") Домой
            li.pure-menu-item
                a.pure-menu-link(href="#") Организациям
            li.pure-menu-item.pure-menu-selected
                a.pure-menu-link(href="#") Спецпредложение!
            li.pure-menu-item
                a.pure-menu-link(href="")
                    i.far.fa-handshake Корзина
    .pure-g.information
        .pure-u-1.pure-u-md-1-3
            .l-box
                img(src="/images/yandexmoney.png")
                | Для осуществления оплаты с помощью сервиса Яндекс.Деньги вам необходимо иметь кошелек, зарегистрированный на сайте системы.
        .pure-u-1.pure-u-md-1-3
            .l-box
                img(src="/images/qiwi.png")
                | Выберите в качестве оплаты QIWI Кошелёк и введите номер своего сотового телефона. Оплатите созданный автоматически счёт на сайте сервиса.
        .pure-u-1.pure-u-md-1-3
            .l-box
                img(src="/images/visa.png")
                img(src="/images/mastercard.png")
                img(src="/images/mir.png")
                p
                | Безопасность платежей с помощью банковских карт обеспечивается технологиями защищенного соединения HTTPS и двухфакторной аутентификации пользователя 3D Secure.
                p
                | В соответствии с ФЗ «О защите прав потребителей» в случае, если Вам оказана услуга или реализован товар ненадлежащего качества, платеж может быть возвращен на банковскую карту, с которой производилась оплата. Порядок возврата средств уточняйте у администрации интернет-магазина.

    .pure-g
        .pure-u-1.pure-u-md-1-2
            span.simpleCart_quantity
            |  мест -
            span.simpleCart_total
            .pure-button-group
                button.pure-button-primary.pure-button.simpleCart_checkout Оформить заказ
                button.pure-button-primary.pure-button.simpleCart_empty Я передумал
            // show the cart
            .simpleCart_items
            // cart total (ex. $23.11)
            .simpleCart_total
            // cart quantity (ex. 3)
            .simpleCart_quantity
    .pure-g.information
        .pure-u-1.pure-u-md-1-2
            .l-box
                p
                | Потребитель вправе расторгнуть договор о выполнении работы (оказании услуги) в
                | любое время, уплатив исполнителю часть цены пропорционально части выполненной
                | работы (оказанной услуги) до получения извещения о расторжении указанного договора
                | и возместив исполнителю расходы, произведенные им до этого момента в целях исполнения договора,
                | если они не входят в указанную часть цены работы (услуги).
        .pure-u-1.pure-u-md-1-2
            .l-box
                p
                | Потребитель при обнаружении недостатков оказанной услуги вправе по своему выбору потребовать:
                ul
                    li
                        ol
                            li Безвозмездного устранения недостатков;
                            li Соответствующего уменьшения цены;
                            li Возмещения понесенных им расходов по устранению недостатков своими силами или третьими лицами;
                    li Потребитель вправе предъявлять требования, связанные с недостатками оказанной услуги, если они обнаружены в течение гарантийного срока, а при его отсутствии в разумный срок, в пределах двух лет со дня принятия оказанной услуги;
                    li При отказе от исполнения договора потребитель имеет право на возврат выплаченных исполнителю денежных сумм;
                    li Потребитель вправе потребовать также полного возмещения убытков, причиненных ему в связи с недостатками выполненной работы (оказанной услуги);
                    li Исполнитель отвечает за недостатки услуги, на которую не установлен гарантийный срок, если потребитель докажет, что они возникли до ее принятия им или по причинам, возникшим до этого момента.


    .footer.l-box
        p
        | Услугу оказывает ИП Вирченко Павел Сергеевич ОГРНИП 318565800028030 г.Оренбург
