doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title
    link(rel='stylesheet', href='/stylesheets/pure-release-1.0.0/pure-min.css')
    link(rel='stylesheet', href='/stylesheets/pure-release-1.0.0/grids-responsive-min.css')
    link(rel='stylesheet', href='/stylesheets/layouts/pricing.css')
    script(defer='', src='https://use.fontawesome.com/releases/v5.0.10/js/regular.js', integrity='sha384-JWLWlnwX0pRcCBsI3ZzOEyVDoUmngnFnbXR9VedCc3ko4R3xDG+KTMYmVciWbf4N', crossorigin='anonymous')
    script(defer='', src='https://use.fontawesome.com/releases/v5.0.10/js/fontawesome.js', integrity='sha384-M2FSA4xMm1G9m4CNXM49UcDHeWcDZNucAlz1WVHxohug0Uw1K+IpUhp/Wjg0y6qG', crossorigin='anonymous')
    script(src='/javascripts/jquery-3.3.1.min.js')
    script(src='/javascripts/simpleCart.min.js')
    script(src='/javascripts/init.js')
  body
    block content
